@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Konfirmo Regjistrimin";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
<a id="confirm-link" href="@Model.EmailConfirmationUrl">Kliko ketu per te konfirmuar regjistrimin</a>
</p>
    }
   
}
