@model BashkiaRaporton.Models.Taksa

@{
    ViewData["Title"] = "Create";
    Layout = null;
}
<h4>Krijo Takse</h4>
<div class="row mt-4">
    <div class="col-md-12">
      
           
            <div class="form-group">
               
                <input onchange="AddTaksa()" id="Pershkrimin" placeholder="Shtoni nje Takse per Bashkine tuaj" class="form-control col-12" />
                
            </div>
            
      
    </div>
</div>
<br />



   <script>
       function AddTaksa() {
           var Pershkrimin = $("#Pershkrimin").val();
          
           $.ajax('@Url.Action("CreateTaksa", "Taksas")', {
               type: 'POST', 
               data: { Pershkrimin: Pershkrimin }, 
               success: function (data, status, xhr) {
                   location.reload(true);
               },
               error: function (jqXhr, textStatus, errorMessage) {
                  
               }
           });
       }
   </script>

       
   

